{:deps true

 :dev-http {8888 ["demo" "demo/test"]}

 :nrepl {:write-port-file true}

 :builds
 {:app {:target :browser
        :output-dir "demo/js"
        :asset-path "/js"
        :modules {:app {:entries [casio.app]
                        :init-fn casio.app/main}}
        :devtools {:reload-strategy :full
                   :preloads [devtools.preload]}}

  :test {:target :browser-test
         :test-dir "demo/test"}}}
